- content_for :javascripts do
  = javascript_include_tag 'apply'

#apply.button
  Apply Now
#apply-form
  %form#applicant_form
    %div Please let us know why you would like to join this community
    %textarea#note{:name => "note", :style => "height:125px"}