= javascript_include_tag 'apply'

%span#apply
  -if current_user
    = link_to "Apply to join this community", "#"
    #apply-form
      %form#applicant_form
        %div Please let us know why you would like to join this community
        %textarea#note{:name => "note", :style => "height:50px"}
  - else
    = link_to("Sign in to apply", "/auth/facebook")