- content_for :fb_open_graph do
  %meta{:property => "og:title", :content => "#{@canvas.name}"}
  %meta{:property => "og:type", :content => "product"}
  %meta{:property => "og:url", :content => "#{canvas_url(@canvas)}"}
  %meta{:property => "og:image", :content => ""}
  %meta{:property => "og:site_name", :content => "A Saucy Book"}
  %meta{:property => "fb:app_id", :content => "#{FB_CONFIG[:token]}"}