- content_for :stylesheets do
  = stylesheet_link_tag 'compiled/community_management.css', :media => 'screen, projection'
- content_for :javascripts do
  = javascript_include_tag 'community_management.js', :media => 'screen, projection'

%h1 Banned Members

%ul#banned-list.member-list
  - @canvas.banned.each do |banned|
    %li.member-item{:data => {:user_id => banned.user.id}}
      .tools
        %a.unban{:href => "#"} Unban
      .name= banned.user