- content_for :stylesheets do
  = stylesheet_link_tag 'compiled/community_management.css', :media => 'screen, projection'
- content_for :javascripts do
  = javascript_include_tag 'community_management.js', :media => 'screen, projection'  

%h1 Members

%ul#member-list.member-list
  - @canvas.members.each do |member|
    %li.member-item{:data => {:user_id => member.user.id}}
      .tools
        %a.ban{:href => "#"} Ban
      .name= member.user

      
