// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// Import all the default blueprint modules so that we can access their mixins.
$blueprint-font-size: 13px;
@import "blueprint";

// Import the non-default scaffolding module.
@import "blueprint/scaffolding";

// Generate the blueprint framework according to your configuration:
@include blueprint;
@include blueprint-scaffolding;

$blueprint-blue: #E5ECF9;
$cream: #f6f6ed;
$pink: #c5b3bd;
$mauve: #9f9ba9;
$green: #a0a048;
$black: #000000;
$grey: #888888;
$white: #FAFAFF;

$background-color: $white;
$accent-color: darken($blueprint-blue, 30%);
$text-color: #333333;

@import "partials/widget";
@import "compass/utilities/general/clearfix";