@import "partials/pages";

.canvas.brief {

  .img {
    @include image-box;
    width:70px;
    height:70px;
    overflow:hidden;
    float:left;
    img {
      height:70px;
    }
  }


  .content {
    float:left;
    width:span(10);
    
    h2 {
      @include header-font;
      padding-top: 0;
      margin-bottom: 0;
    }
    

  }
}
.mini_dashboard{
	font-size:14px;
	float:right;
}

.apply-join{
	float:right;
	clear:right;
	margin:10px;
}

#bookmarklet{
	background-color:#848484;
	border-radius:10px;
	padding:3px 10px 3px 10px;
	font-size:12px;
}

a#bookmarklet{
	color:#FFF;
}
a#bookmarklet:hover{
	text-decoration:none;
}

