$blueprint-blue: #E5ECF9;
$accent-grey: #999999;
$dark-grey: #333333;
$black: #000000;
$grey: #cccccc;
$white: #ffffff;
$purple: #663399;
$blue: #0066ff;
$green: #698e23;
$green-shadow: #71870D;
$loorp: $purple;

$header-border-color: $green;
$header-text-color: $green;
$header-text-shadow-color: $green-shadow;
$background-color: $white;
$accent-color: $grey;
$trim-color: $accent-grey;
$text-color: $dark-grey;
$visited-link-color: $purple;
$link-color: $blue;