@import "partials/colors";
@import "partials/typography";

.hint{
  position:absolute;
  color: $header-text-color;
  text-shadow: 1px 1px 2px $header-text-shadow-color, -1px -1px 2px $white;
  line-height: 1.2em;
  margin-right: 2px;
  display:none;

  .heading{
    @include hint-font;
  }
  .content{
    font-size:0.8em;
  }

    
  .left {
    padding-left:90px;
  }

  .right {
    	width:200px;
      text-align:right;
      padding-right:95px;
  }

  .up {
    padding-top: 30px;
  }
  
  .down {
    padding-top: 0px;
  }

  .right.down{
    background: url('/images/help-arrow-right-down.png') no-repeat right bottom;
  }
  
  .right.up{
    background: url('/images/help-arrow-right-up.png') no-repeat right bottom;
  }
  
  .left.up{
    background: url('/images/help-arrow-left-up.png') no-repeat left center;
  }
  
  .left.down{
    background: url('/images/help-arrow-left-down.png') no-repeat left top;
  }
}
