#header-toolbar{
  position: fixed;
  top:0;
  width: 100%;
  background: url('/images/blue-background.png') repeat;
  height:$menu-height;
  font: {
    family: "Arial";
    size: 12px;
  }
	h1{ 
		color: $white;
		@include logo-font;
	}
	
	a {
		color: $white;
		text-decoration:none;
	}
	
  // MENU
  $menu-width: 250px;
  $menu-padding: 10px;
  ul.menu{
    margin:0px;
    float:left;
    z-index: 999999999;
    padding-left: 0;
	  li{
      list-style-type: none;
    }
  }

	li.top-menu-item{
		padding-top:10px;
		>a{
      padding-right: 15px;
      background: url('/images/arrow.png') no-repeat right center;
    }
    >a:hover{
      text-shadow: 0 0 10px #FFFFFF;
    }

    ul{
      margin-top:3px;
			display: none;
      position: absolute;
      border:1px solid #666;
      background-color:#ECF0F9;
			padding:0px;
			border-radius: 0px 0px 5px 5px;
			box-shadow: 0px 0px 10px 0px #666;
    }
    li{
      cursor:pointer;
			padding:2px 15px;
			list-style-type: none;
			a{
				color: #333;
			}
      &:hover{
				background-color:#666;
				a{
					color:#FFF;
				}
			}
    }
    
    li.owner {
      font-weight: bold;
    }
    
    li.new{
			border-top:1px solid #CCC;
    }
  }
  
  #user-nav { 
		float:right;
		margin-right: 10px;
		margin-top:8px;
		color: $white;
		a:hover{
      text-shadow: 0 0 10px #FFFFFF;
    }
	}
}