[data-content_type="page"]{
	background:url('/images/add-text-24.png')no-repeat 3px 3px;
}

#pages{
	margin-top:10px;
	margin-bottom:10px;
	ul.page_list{
		padding:0;
		margin:0;
	}

	li.page_icon_grid{
		list-style:none;
		padding:10px;
		margin:0px 5px 10px 5px;
		width:100px;
		height:100px;
		display:block;
		text-align:center;
		float:left;
		font-size:13px;
		line-height:13px;
		cursor:pointer;
		border:1px solid #FFF;
		overflow:hidden;
		.page_icon_title{
			padding-top:3px;
		}
	}
	li.page_icon_grid:hover{
		border:1px solid #CCC;
		background-color:#FCFCFC;
		border-radius:5px;
	}

}