// Typography
@import url(http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif:400,700);

@mixin body-font {
  font: {
    family: 'Droid Sans', sans-serif;
    size: 1em;
  }
}

@mixin header-font {
  font: {
    family: 'Droid Serif', serif;
    size: 1.33em;
    weight: bold;
  }
}

@mixin logo-font {
  letter-spacing: -2px;
  font: {
    family: 'Trebuchet MS';
    size: 4em;
  }
}