.widget {
	padding: 8px;
	margin: 0;
	margin-bottom: 10px;
	min-height: 100px;
	border: 2px solid #A862C7;
	background-color: #F8E7FF;
  color: #205791;	
	
	@include clearfix;
	img.handle {
		float: left;
		margin-right: 10px;
		cursor: move;
	}
	.preview img{
		width: 50px;
		height: 50px;
	}
	.facebook_comments { display: none;	}
}

@mixin list_widget{
	list-style: none;
}

.widget.presentation_widget {
}

.widget.editable_widget {
	@include list_widget;
}

.widget.page_feed_widget {
	@include list_widget;
	.content { display: none; }
	img.handle {
		float: left;
		margin-right: 10px;
		cursor: move;
	}
}

.widget.canvas_feed_widget {
	@include list_widget;
	.content { display: none; }
}

.widget.scrolly_widget {
	width: 254px;
	height: 100px;
	position: fixed;
	.content { display: none; }
}
