$icon-size: 32px;
.widget {
  @include box;
	margin: 0;
	margin-bottom: 10px;
	min-height: 100px;
	color: $text-color;	

	@include clearfix;
	overflow:visible;
	img.handle {
		float: left;
		margin-right: 10px;
		cursor: move;
	}
	.preview img{
		max-width: 100%;
		max-height: 100%;
	}
	.facebook_comments { display: none;	}
	
	.toggle_preview { position:absolute; right:10px; bottom: 0; width: $icon-size; height: $icon-size; background:  url('/images/icons/expand.png') no-repeat 0px 0px; display:block;}

	.comments a{
    position:relative;
    display:block;

    background :  url('/images/icons/comment.png') no-repeat 0px 0px;
    
    span{
    display:none;
    }
  }
  
  .edit{
    position:absolute;
    top: 10px;
    right: 10px;
    width: $icon-size;
    height: $icon-size;
    background :  url('/images/icons/edit.png') no-repeat 0px 0px;
    
    span{
      display:none;
    }
  }
}

@mixin list_widget{
	list-style: none;
}

.widget.presentation_widget {
}

.widget.editable_widget {
	@include list_widget;
}

.widget.page_feed_widget {
	@include list_widget;
	.content { display: none; }
	img.handle {
		float: left;
		margin-right: 10px;
		cursor: move;
	}
}

$canvas-feed-height: 200px;
.widget.canvas_feed_widget {
  @include box($background:$accent-color, $border:$accent-color);
	@include list_widget;
	position:relative;
	min-height: 200px;

	.content { display: none; }
	.preview {
	  @include floating-box;
	  position:relative;

	  min-height: $canvas-feed-height;
	  text-overflow: ellipsis;
	  word-wrap: break-word;

	  margin-left: 50px;
	  
	  p{
	    width: span(17) - $icon-size;
	  }
	} 
	
	.facebook_comments{
	  width:100%;
	  height:100px;
	  background-color: blue;
	
	}
}

$scrolly-height:100px;

.widget.scrolly_widget {
  @include floating-box;
  @include title-box($width:span(1) + 5, $height:$scrolly-height);

	position: fixed;
	overflow: visible;

	.content { display: none; }

  .preview {
     @include floating-box;
     position:absolute;
     left:span(2) - 20px;
     top:0;
     height: $scrolly-height;
     width: span(5);
     overflow: hidden;
     text-overflow: ellipsis;
     word-wrap: break-word;
  }

}

.text_content {
  background :  url('/images/icons/text.png') no-repeat 10px 10px;
}

.image_content {
  background :  url('/images/icons/picture.png') no-repeat 10px 10px;
}

.link_content {
  background :  url('/images/icons/link.png') no-repeat 10px 10px;
}

