/* line 1, ../../app/stylesheets/page_edit_page.scss */
ul#widgets {
  margin-top: 5px;
  padding: 0px;
  border: 1px dotted #bbb;
  min-height: 100px;
}
/* line 6, ../../app/stylesheets/page_edit_page.scss */
ul#widgets li {
  background-color: #DFF2FB;
  border: 1px solid #D4E6C6;
  width: 572px;
  margin: 10px 8px;
  padding: 8px;
  list-style: none;
}
/* line 13, ../../app/stylesheets/page_edit_page.scss */
ul#widgets li.placeholder {
  border: 1px dotted #ddd;
  background-color: #FFFBEA;
}
/* line 17, ../../app/stylesheets/page_edit_page.scss */
ul#widgets li .handle {
  float: left;
  margin-right: 10px;
  cursor: move;
}

/* line 25, ../../app/stylesheets/page_edit_page.scss */
#edit_dialog {
  display: none;
}

/* line 26, ../../app/stylesheets/page_edit_page.scss */
#edit_frame {
  width: 100%;
  height: 400px;
}
