%h2.header-font{:style => "margin-bottom: 5px"} Account Settings

%h3 Your current registered email addresses
List the email addresses that you want to send input stream content from.

%ul#email-list

-form_for @email do |f|
  = f.label :address, 'Email Address'
  = f.text_field :address
  = f.submit :value => 'Register'
  
:javascript
  var load_emails = function() {
    $("ul#email-list").html('<img src="/images/loading-medium.gif">');
    $("ul#email-list").load("/emails/");
  }
  
  $("form").submit(function() {
    $.post($(this).attr("action"),
    $(this).serialize(),
    load_emails);
    this.reset();
    return false;
  })
  
  load_emails();
  
  $(".delete").live("click", function(event) {
    event.preventDefault();
    if (confirm("Are you sure?")) {
      $.post($(this).attr("href"),{
      _method:"DELETE"},
      load_emails);
    }
  })