%h2 HUD

%p== Following #{@number_of_followed_canvae} #{pluralize(@number_of_follow_canvae, "canvas")}

%ul
  - current_user.followed_canvae.each do |canvas|
    %li= link_to canvas.name, canvas_path(canvas)
  

  