- content_for :stylesheets do
  = stylesheet_link_tag 'compiled/community_management.css', :media => 'screen, projection'
  
%h1 Listing Users

%ul#user-list
  - @users.each do |u|
    %li[u]{:class => u.admin? ? "admin" : ""}
      = u.name