= javascript_include_tag 'users_helper'

-klass = "" if !defined?(klass)
-target = "" if !defined?(target)
.hint{ :data => {:target => target} }
  .get-started{:class => klass}
    .heading
      = heading
    .content
      = content