= javascript_include_tag 'qtip_style'

%div{:id => content_id, :style => "display: none"}
  .hinty
    .get-started
      .heading
        = heading
      .content
        = content
        
= javascript_include_tag js_include