:javascript
  $(document).ready(function(){
  		$("#model-activity").dialog();
  	});
  
#model-activity{:title=>"Welcome to your first canvas"}
  .inner
    Welcome to Loorp!
    
    You can start this fun process by doing a, b, and c.
    
    Stay in the Loorp!