@import "partials/base";
@import "partials/menu";
@import "partials/canvas_header";

body {
 @include body-font; 
}

#body{
	background-color: $background-color;
	color: $text-color;
  margin-top:$menu-height;
	
	li.widget {
		list-style: none;
	}
}

a:visited { color:$visited-link-color; }
a:link { color:$link-color; }
a:hover {text-decoration:underline;}
a {text-decoration:none;}

h1#logo a {
	color:#FFFFFF;
	text-decoration:none;
}

h3 {
	margin:0.25em 0em 0.25em 0em;
}


#event_count{
	cursor:pointer;
	border-radius: 4px;
	font-size:13px;
	min-width:18px;
	height:17px;
	padding:1px;
	margin:0px 5px 0px 0px;
	text-align:center;
	float:left;
}

.loading_events_container{
	background:url('/images/loading-medium.gif') no-repeat center center;
	border-radius: 0px 0px 5px 5px;
  box-shadow: 0px 0px 10px 0px #666;
	background-color: #ECF0F9;
	width:300px;
	height:40px;
	z-index:999999999;
}
.no_new_events{
	background-color:#666666;
}
.new_events{
	background-color:#FF0000;
}

#event_list_container{
	position:absolute;
	width:250px;
	z-index:999999999;
	margin-top:3px;
}

.flash {
	text-align: center;
}

.qtip-content img{
	max-width:800;
	max-height:600px;
}

#footer {
	padding-top: 15px;
}

.invite_user{
  display:inline;
}


.tab {
	border:1px solid #CCC;
	padding:3px;
	background-color:#FFF;
	text-decoration:none;
	&.active {
		background-color:#333;
		color:#FFF;	
	}
}

//dialog box
.ui-dialog-titlebar{
  border:none;
  background: url('/images/blue-background.png') repeat;
  
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default,
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
border: 2px solid #CCC;
background: #F6F6F6 url(images/ui-bg_glass_100_f6f6f6_1x400.png) 50% 50% repeat-x;
font-weight: bold;
color: #1A3747;
}

.ui-state-hover{
  border:none;
  outline-color: #1A3747;
}

.ui-state-focus{
  outline-color: #1A3747;
}


#apply {
  font-size: 14px;
  font-style: italic;
}

#join {
  font-size: 14px;
  font-style: italic;
}

.tab {
	border:1px solid #CCC;
	padding:3px;
	background-color:#FFF;
	text-decoration:none;
	&.active {
		background-color:#333;
		color:#FFF;	
	}
}

//dialog box
.ui-dialog-titlebar{
  border:none;
  background: url('/images/blue-background.png') repeat;
  
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default,
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
border: 2px solid #CCC;
background: #F6F6F6 url(images/ui-bg_glass_100_f6f6f6_1x400.png) 50% 50% repeat-x;
font-weight: bold;
color: #1A3747;
}

.ui-state-hover{
  border:none;
  outline-color: #1A3747;
}

.ui-state-focus{
  outline-color: #1A3747;
}

//button
.button {
  border: 1px solid #a15804;
  background: #cf7028;
  background: -webkit-gradient(linear, left top, left bottom, from(#d29300), to(#cf7028));
  background: -webkit-linear-gradient(top, #d29300, #cf7028);
  background: -moz-linear-gradient(top, #d29300, #cf7028);
  background: -ms-linear-gradient(top, #d29300, #cf7028);
  background: -o-linear-gradient(top, #d29300, #cf7028);
  padding: 10px 20px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: white;
	text-align:center;  
	vertical-align: middle;
	cursor:pointer;
  }

.button:hover {
  border-top-color: #d19200;
  background: #d19200;
  background: -webkit-gradient(linear, left top, left bottom, from(#cf7028), to(#d29300));
  background: -webkit-linear-gradient(top, #cf7028, #d29300);
  background: -moz-linear-gradient(top, #cf7028, #d29300);
  background: -ms-linear-gradient(top, #cf7028, #d29300);
  background: -o-linear-gradient(top, #cf7028, #d29300);    
  text-decoration:underline;
  cursor: pointer;
  }

.button:active {
  border-top-color: #d19200;
  background: #d19200;
  }
  
.title-italic {font-style:italic;}
.title-bold {font-weight:bold;}
.infolink{
  margin-bottom: -3px;
  margin-left: 2px;
  cursor: pointer;
}
