@import "partials/base";

body{
	background-color: $background-color;
	color: $text-color;
}

#header {
	background-color: $accent-color;
	height: 80px;
	z-index: 999999999999;
	position: relative;
	box-shadow: 0 1px 5px $trim-color;

	#user-nav { 
		position: absolute;
		right: 0px;
		width: 300px;		
		color: $white;
		margin-right: 10px;
		a {
			color: $white;
		}
	}
	
	h1{ 
		color: $loorp;
		@include logo-font;
		background: url('/images/loorp-loop.png') no-repeat 0px 5px;
		padding: 10px 10px 10px 55px;
		a {
			text-decoration: none;
			color: $loorp;
		}
		a:hover {
			text-decoration: underline;
		}
	}
}

.flash {
	text-align: center;
}

.content {
  img {
    max-height: 200px; 
    max-width: 200px;
  }  
}

#footer {
	padding-top: 15px;
}

.invite_user{
  display:inline;
}

#hud{
	position: fixed; 
	border-left: 1px solid #aaa;
	padding: 10px;
	margin: 0px;
	height: 100%;
	width: 200px;
	background-color: #f3f3f3;
	@include box-shadow(#999 -1px -1px 5px); 
	
	#hide_hud {
		float: right;
	}
	
}