@import "partials/base";

body{
	background-color: $background-color;
	color: $text-color;
}

#header {
	padding: 10px;
	background-color: $accent-color;
	text-align: center;
	margin-bottom: 10px;
	box-shadow: 0 1px 2px darken($accent-color, 40%);

	#user-nav { 
		float: right;
		color: $white;
		a {
			color: $white;
		}
	}
	
	h1{ 
		color: $background-color;
		font-size: 4em;
		margin-bottom: .1em;
		text-shadow: 0 -1px 2px darken($accent-color, 40%),  0 1px 2px lighten($accent-color, 20%);
	}
}

.flash {
	text-align: center;
}

.content {
  img {
    max-height: 200px; 
    max-width: 200px;
  }  
}

#input-stream{
  background-color:#D3D3D3;
  padding: 10px 5px 5px 10px;

  #canvas-widgets{
    
    li{
      background-color:#F0F8FF;
      margin-top:20px;
      list-style: none;
      
      .widget-nav{
        background-color:#D5EDF8;
        border-color:#92CAE4;
        min-height:50px;
        width: 100%;
        .controls{
          float:right;
          text-align: right;
        }
        .widget-title{
          float:left;
        }
      }

      .content{
        padding: 10px 10px 0px 20px;
        img.image_content{
          display:block;
          margin-left: auto;
          margin-right: auto;
        }  
      
      }
      
      .info{
        width:400px;
        margin: 10px 0px 0px 100px;
        
        .comment_instream{
          input[type=text]{
            width:250px;
          }

          .controls{
            float:right;
          }
        }
      }
    }
  }

}



#footer {
	padding-top: 15px;
}

.invite_user{
  display:inline;
}