@import "partials/typography";

#loorp_bookmarklet{

  line-height: 1.5;
  color: #333333;
	background-color: #fafaff;
	border: 1px solid #aaa;
	font-size: 12px;
	
	@include body-font;
	
	h2{
		padding: 10px; 
		background-color: #6991dc;
		text-align: center;
		margin: 0;
		margin-bottom: 10px;
		box-shadow: 0 1px 2px #173162;
	}
	
	form {
		display: block;
		margin: 10px;

		textarea{
			width: 100%;
			
    	@include body-font;
    	
			padding: 5px;
			border: 1px solid #bbb;
			background: #eee;
		}

		input[type="text"]{
      width: 100%;
			@include body-font;
		}

		
		input[type="submit"]{
      width: 50px;
			@include header-font;
		}

		a#cancel{
			font-size: 14px;
			color: #333;
			text-decoration: underline;
		}

	}
	
}

