#loorp_bookmarklet{
	line-height: 1.5;
	font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
	color: #333333;
	font-size: 12px;
	background-color: #fafaff;
	border: 1px solid #aaa;
	
	h2{
		padding: 10px; 
		background-color: #6991dc;
		text-align: center;
		margin: 0;
		margin-bottom: 10px;
		box-shadow: 0 1px 2px #173162;
		font-size: 24px;
		font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
	}
	
	form {
		display: block;
		margin: 10px;

		textarea{
			font-size: 12px;
			width: 265px;
			height: 100px;
			font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
			padding: 5px;
			border: 1px solid #bbb;
			background: #eee;
		}
		
		input[type="submit"]{
			width: 50px;
			font-size: 28px;
		}

		a#cancel{
			font-size: 14px;
			color: #333;
			text-decoration: underline;
		}

	}
	
}

