@import "partials/base";

ul#input_stream {
	@include widget_container(span(20));
	@include input_stream_widget(span(20));
	li.widget{
		img.handle{ display: none;}
	}
}

#edit_dialog {display:none;}
#edit_frame {width:100%; height:400px;}

#overview {
  padding:10px;
  overflow: hidden;
}

.info {
    background: none repeat scroll 0 0 #F8E7FF;
    border-color: #A862C7;
    color: #205791;
}