@import "partials/base";
@import "partials/snippet";

ul#feed {
	margin: 0;
	padding: 0;
	list-style: none;

	.facebook_comments{
	  display:none;
	}		
}

ul#inline_form{
	margin: 0;
	padding:0;
	list-style: none;
	
	.widget {
		
		.edit{  display: none; }
    .delete{  display: none; }
    .toggle_preview{  display: none; }
		.comment_count { display: none;}
	}
}

#overview {
  padding:10px;
  overflow: hidden;
}

.info {
	background: none repeat scroll 0 0 #EEF;
	border-color: #CCD;
	color: #205791;
	border-radius: 5px;
}


ul#feed .widget_image_wrapper img{
	max-width:700px;
	max-height:140px;
}
