@import "partials/base";

ul#input_stream {
	@include widget_container;
	@include input_stream_widget;
	li.widget{
		img.handle{ display: none;}
	}
}

#edit_dialog {display:none;}
#edit_frame {width:100%; height:400px;}