@import "partials/base";
	
#intro-video {
	border: 5px solid lighten($accent-color, 20%);
}

input#canvas_name {
	display: block;
	width: 340px;
	margin-top: 0px;
	float: right;
}


input#submit {
   background: $accent-color;
   width: 150px;
   padding: 8px;
	 margin-top: 0;
   letter-spacing: 1px;
   border: none;
   color: $background-color;
	 font-size: 14px;
   border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   text-shadow: 0 -1px 2px darken($accent-color, 20%),  0 1px 2px lighten($accent-color, 20%);
 		 box-shadow: 0 1px 2px darken($accent-color, 20%);
 		 float: right;
}

p {
	font-size: 14px;
}


$canvae-top: 100px;
$box-height: 400px;
#canvae {
  position: absolute;
  top: $canvae-top;
  left: 0;
  
  .title-box{
    @include floating-box;
    @include title-box($height:$box-height);
    position: relative;
    z-index:$z-top + 1;
    cursor:pointer;
  }

 .contents {
    @include floating-box;
    position:absolute;
    left:$box-title-default-width + 20px;
    top:0;
    width:span(14);
    z-index:$z-top;
    overflow-y:auto;
    overflow-x:hidden;
    max-height:800px;
    
    ul {
      margin-left: 0;
      padding-left: 0;
      list-style: none;
    }
  }
  
  .handle{
    @include handle-bar-rght($left: 20px, $box-height: $box-height);
  }
  
  .handle-content{
    @include handle-bar-rght($left: span(14));
  }
}
