@import "partials/base";
h2{
	@include header-font;
}

ul#page {
	margin: 0;
	margin-top: 5px;
	min-height: 100px;
	padding: 0;
	
	li.placeholder {
		background-color: white;
		height: 63px;
		margin-bottom: 10px;
	}
	
}

ul#feed {
	margin: 0;
	margin-top: 5px;
	min-height: 100px;
	padding: 10px 10px 0 10px;
}

ul#inline_form{
	margin: 0;
	margin-top: 5px;
	padding: 0;
	list-style: none;
	
	.widget {
		
		.edit{  display: none; }
    .delete{  display: none; }
    .toggle_preview{  display: none; }
		.comment_count { display: none;}
	}
}

input#tag_ids {
	width: 150px;
}

#widget_dialog iframe {
	width: 100%;
	height: 400px;
}

ul#feed .widget_image_wrapper img{
	max-width:270px;
	max-height:83px;
}

ul#feed .image_caption{
	display:none;
}

ul#presentation_page .widget_image_wrapper img{
	max-width:800px;
	max-height:600px;
}