:css
  * {
    padding:0px;
    margin:0px;
    }
  #event_list a {
    text-decoration:none;
    color:black;}
  .event_item {
    border-bottom:1px solid #AAA;
    padding:8px;
    background-color: #ECF0F9;
    color:black;
    }
  .event_item:hover{
    background-color: #DCE0E9;
  }
  .event_time_ago {
    font-size:11px;
  }
  .new_event {
    background-color: #CBD0D8;
  }
#event_list  
  - @events.each do |e|
    %a{:href => e.url}
      %div{:class => e.created_at >= current_user.notifications_viewed_at ? "event_item new_event" : "event_item"}
        %div.event_description= e.description
        %div.event_time_ago== #{time_ago_in_words(e.created_at)} ago
