:css
  * {
    padding:0px;
    margin:0px;
    }
  #event_list{
    border:1px solid #CCC;
    border-top:0px;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0px 0px 10px 0px #666;
    background-color: #ECF0F9;
  }

  #event_list a {
    text-decoration:none;
    color:#333;
    }
      
  .event_item {
    border-top:1px solid #CCC;
    padding:8px;
    }

  .event_item:hover{
    background-color: #CCC;
  }

  .event_time_ago {
    font-size:11px;
  }

  .new_event {
    background-color: #CBD0D8;
  }

#event_list  
  - if @events.count == 0
    %div.event_item== No Notifications
  - else
    - @events.each do |e|
      %a{:href => e.url}
        %div{:class => e.created_at >= @notifications_viewed_at ? "event_item new_event" : "event_item"}
          %div.event_description= e.description
          %div.event_time_ago== #{time_ago_in_words(e.created_at)} ago
