%li.widget.editable_widget{:data => {:widget_id => widget.id}}

  %img.handle{:src => "/images/grip.png"}

  = render_widget_section("delete_link")
  = render_widget_section("edit_link")

  .content
    = render_widget_section("content", widget)
  
  .tags
    = render_widget_section("tags", widget)  