%li.widget.editable_widget{:data => {:widget_id => widget.id} , :class => widget.content_type}

  .body
    .title
    .toolbox
      = render_widget_section("delete_link")
      = render_widget_section("edit_link")
    .content
      = render_widget_section("content", widget)
    .edit_content
      = render_widget_section("inline_form", widget)

  