%li.widget.page_feed_widget.snippet{:data => {:widget_id => widget.id} , :class => widget.content_type, :style => "max-height:250px; overflow:auto" }
  .controls
    %div.tool.comment_count{:title => "Comments"}
  
  .content
    = render_widget_section("content", widget)        
    .tags
      = render_widget_section("tags", widget)