.widget.scrolly_widget{:class => widget.content_type}
  .title

  .content
    = render_widget_section("content", widget)

  .preview
    = render_widget_section("preview", widget)
    = render_widget_section("toggle_preview_link")
  
  .comments
    = render_widget_section("comments", widget)
    