.widget.scrolly_widget{:class => widget.content_type}
  .body  
    .title
    .content
      = render_widget_section("content", widget)
    .excerpt
      = render_widget_section("preview", widget)
    .toolbox.bottom
      = render_widget_section("toggle_preview_link")
    