- widget = widget_content
- case widget.content_type
- when 'text_content'
  %p= raw(widget.content)  
- when 'image_content'
  %img{ :src => "#{widget.content}", :alt => "#{widget.alt_text}", :title => "#{widget.alt_text}"}