.widget
  .controls
    %a.edit_widget{:href => "#", :data_widget_id => "#{widget.id}"} edit
  
  .content
    - case widget.content_type
  
    - when 'text_content'
      %p= widget.content  
      
  = render widget.comments
  