- content_for :stylesheets do
  = stylesheet_link_tag 'fonts', :media => 'screen, projection'
  = stylesheet_link_tag 'compiled/redesign', :media => 'screen, projection'

#content
  #header
    #header-content
      .title#top
        Coming Soon!