- content_for :title do
  A Saucy Book

- content_for :head do
  = stylesheet_link_tag 'homepage.css', :media => 'screen, projection'
  
#user-nav
  - if current_user
    == Welcome #{current_user.name}!
    = link_to "Log out", signout_path
  - else
    = link_to "Log in with Facebook", "/auth/facebook"
  
#header-bar
  %h1#logo
    A Saucy Book

#content
  .container
    .span-14.prepend-3
      %iframe#intro-video{:width => "540", :height => "349", :src => "http://www.youtube.com/embed/ZqVg5kSFsys", :frameborder=>"0", :allowfullscreen => true}
    .span-7.last
      %p    
        A Saucy Book empowers communities to bring together information from all across the web to create comprehensive, lasting bodies of knowledge.
      %h2 Begin your canvas today
      
      %form{:action=>"/thankyou"}
        %input#email.title{:type => "text", :name => "email", :placeholder => "Your Email Address"}
        %input#submit{:type => "submit", :name => "submit", :value => "Get Saucy!"}
      -# or
      -# #twitter
      -#   = link_to "Sign in with Facebook", '/auth/facebook'

#footer
