- content_for :head do
  = stylesheet_link_tag 'homepage', 'scrolly', :media => 'screen, projection'
  =# javascript_include_tag 'scrolly'

.box.clearfix{:style => "width: 355px; margin: auto; margin-top: 50px; margin-bottom: 300px; position: relative; z-index: 5000"}
  .clearfix
    -if current_user
      %h2 Create a New Canvas
      %form.inline{:action => "#{new_canvas_path}"}
        %input#canvas_name.title{:type => "text", :placeholder => "Canvas Name", :name => "canvas_name"}
        %input#submit{:type => "submit", :value => "Loorp it!"}
    -else
      %h2 Get Started
      =login_link do
        %img{:src=>"http://plancast.com/images/facebook/login-button.png"}

#canvae
  .title-box.toggle_canvae
    .title
      %h2 Canvae
  .handle.toggle_canvae
    ='='
  .contents
    %ul
      -@recent_canvases.first(5).each do |e|
        %li= render :partial => 'canvae/brief', :object => e, :as => :canvas  

-if current_user
  :javascript
    $(function(){
      mpq.push(["name_tag","#{current_user.name}"]);
      mpq.push(["track","hit_homepage",{"logged_in": "true"}]);
    })
-else
  :javascript
    $(function(){
      mpq.push(["identify"]);
      mpq.push(["track","hit_homepage",{"logged_in": "false"}]);
    })
  
:javascript
  $(function(){
    mpq.push(["track_forms",$("form"),"click_create_canvas"]);
  
    $("#login").click(function(){
      mpq.push(["track","click_login"]);
    }); 
  })

#scrolly

#scrollyHider

#mixpanel{:style => "position: relative"}
  .container
    %a{:href=>"http://mixpanel.com/f/partner"}
      %img{:src=>"http://mixpanel.com/site_media/images/partner/badge_blue.png", :alt=>"Web Analytics"}

      
:javascript
  // $("#mixpanel").css("top",$(window).height() - 60 + "px")
  $("#mixpanel").css("bottom", "0px");
  
  content_width = $(".contents").outerWidth() + $("#canvae").outerWidth();
  handle_expand = $(".contents").outerWidth();
  
  var toggle_canvae = function (){
    if(parseInt($(".contents").css("left")) < 0){
        $(".contents").toggle();
        $(".contents").animate({
          left: "+=" + content_width
        }, 300);
        $(".handle").animate({
          left: "+=" + handle_expand
        }, 300);
      } else {
        $(".contents").animate({
          left: "-=" + content_width
        }, 300, function(){
          $(".contents").hide();
        });
         $(".handle").animate({
            left: "-=" + handle_expand
          }, 300);
      }

  }
  
  $(".toggle_canvae").click(function(event){
      event.preventDefault();
      toggle_canvae();
    });
  

  