- content_for :stylesheets do
  = stylesheet_link_tag 'compiled/homepage', 'compiled/scrolly', :media => 'screen, projection'

- content_for :javascripts do
  = javascript_include_tag 'scrolly'

#canvae
  .title-box.toggle_canvae
    .title
      %h2 Canvae
  .handle.toggle_canvae
    ='='
  .contents
    %ul
      -@recent_canvases.first(5).each do |e|
        %li= render :partial => 'canvae/brief', :object => e, :as => :canvas  
    .clear
    .create-canvas
      %a{ :href => "#{new_canvas_path}" }
        %span.create-link
          Create Your Own Canvas
          
-if current_user
  :javascript
    $(function(){
      mpq.push(["track","hit_homepage",{"logged_in": "true"}]);
    })
-else
  :javascript
    $(function(){
      mpq.push(["track","hit_homepage",{"logged_in": "false"}]);
    })
  
:javascript
  $(function(){
    mpq.push(["track_forms",$("form"),"click_create_canvas"]);
  
    $("#login").click(function(){
      mpq.push(["track","click_login"]);
    }); 
  })

#scrolly

#scrollyHider

#mixpanel{:style => "position: fixed; bottom: 0px"}
  .container
    %a{:href=>"http://mixpanel.com/f/partner"}
      %img{:src=>"http://mixpanel.com/site_media/images/partner/badge_blue.png", :alt=>"Web Analytics"}

      
:javascript
  content_width = $(".contents").outerWidth() + $("#canvae").outerWidth();
  handle_expand = $(".contents").outerWidth();
  
  var toggle_canvae = function (){
    if(parseInt($(".contents").css("left")) < 0){
        $(".contents").toggle();
        $(".contents").animate({
          left: "+=" + content_width
        }, 300);
        $(".handle").animate({
          left: "+=" + handle_expand
        }, 300);
      } else {
        $(".contents").animate({
          left: "-=" + content_width
        }, 300, function(){
          $(".contents").hide();
        });
         $(".handle").animate({
            left: "-=" + handle_expand
          }, 300);
      }

  }
  
  $(".toggle_canvae").click(function(event){
      event.preventDefault();
      toggle_canvae();
    });
  

  