- content_for :head do
  = stylesheet_link_tag 'homepage.css', 'scrolly.css', :media => 'screen, projection'

.box.clearfix{:style => "width: 355px; margin: auto; margin-top: 50px; margin-bottom: 300px; position: relative; z-index: 5000"}
  .clearfix
    -if current_user
      %h2 Create a New Canvas
      %form.inline{:action => "#{new_canvas_path}"}
        %input#canvas_name.title{:type => "text", :placeholder => "Canvas Name", :name => "canvas_name"}
        %input#submit{:type => "submit", :value => "Get Saucy!"}
    -else
      %h2 Get Started
      %a#login{:href=>"/auth/facebook"}
        %img{:src=>"http://plancast.com/images/facebook/login-button.png"}

  #recent_canvases{:style => "padding-top: 20px"}
    %h2 Recent Canvases
    %ul
      -@recent_canvases.each do |e|
        %li= link_to e.name, canvas_path(e)

:javascript
  $(function(){
    
    mpq.push(["track","hit_homepage"]);
    mpq.push(["track_forms",$("form"),"click_create_canvas"]);
    
    $("#login").click(function(){
      mpq.push(["track","click_login"]);
    });
    
  })

%ul#scrolly

%ul#scrollyHider

= render :partial => "static/scrolly_js"
    
#footer{:style => "position: absolute"}
  .container
    %a{:href=>"http://mixpanel.com/f/partner"}
      %img{:src=>"http://mixpanel.com/site_media/images/partner/badge_blue.png", :alt=>"Web Analytics"}
      
:javascript
  $("#footer").css("top",$(window).height() - 60 + "px")
  