- content_for :title do
  A Saucy Book

- content_for :head do
  = stylesheet_link_tag 'homepage.css', :media => 'screen, projection'

.span-14
  %iframe#intro-video{:width => "540", :height => "349", :src => "http://www.youtube.com/embed/S__-wDm2vNY", :frameborder=>"0", :allowfullscreen => true}
.span-10.last
  %blockquote.box.clearfix
    %p 
      A Saucy Book empowers communities to bring together information from all across the web to create comprehensive, lasting bodies of knowledge. 
    %p
      %strong
        Create your new canvas today.
  
    %form.inline{:action=>"/thankyou"}
      %input#email.title{:type => "text", :name => "email", :placeholder => "Your Email Address"}
      %input#submit{:type => "submit", :name => "submit", :value => "Get Saucy!"}


  -if current_user
    = link_to 'Create Canvas', new_canvas_path

