- content_for :head do
  = stylesheet_link_tag 'homepage.css', 'scrolly.css', :media => 'screen, projection'

-# .span-14
  -# %iframe#intro-video{:width => "540", :height => "349", :src => "http://www.youtube.com/embed/S__-wDm2vNY", :frameborder=>"0", :allowfullscreen => true, :style => "position: relative; z-index: 999999999999"}
-# .span-10.last
.box.clearfix{:style => "width: 355px; margin: auto; margin-top: 50px; margin-bottom: 300px; position: relative; z-index: 5000"}
  -# %p 
    -# A Saucy Book empowers communities to bring together information from all across the web to create comprehensive, lasting bodies of knowledge.
  .clearfix
    -if current_user
      %h2 Create a New Canvas
      %form.inline{:action => "#{new_canvas_path}"}
        %input#canvas_name.title{:type => "text", :placeholder => "Canvas Name", :name => "canvas_name"}
        %input#submit{:type => "submit", :value => "Get Saucy!"}
    -else
      %h2 Get Started
      %a#login{:href=>"/auth/facebook"}
        %img{:src=>"http://plancast.com/images/facebook/login-button.png"}

  #recent_canvases{:style => "padding-top: 20px"}
    %h2 Recent Canvases
    %ul
      -@recent_canvases.each do |e|
        %li= link_to e.name, canvas_path(e)

:javascript
  $(function(){
    
    mpq.push(["track","hit_homepage"]);
    mpq.push(["track_forms",$("form"),"click_create_canvas"]);
    
    $("#login").click(function(){
      mpq.push(["track","click_login"]);
    });
    
  })

%ul#scrolly

%ul#scrollyHider

= render :partial => "static/scrolly_js"

  