#content
  %h1 Login to Loorp
  =login_link do
    %img{:src=>"http://plancast.com/images/facebook/login-button.png"}

  .coming-soon
    Additional login methods coming soon
    #twitter
      %img{:src=>"http://plancast.com/images/twitter/login-button.png"}