.box.clearfix{:style => "width: 355px; margin: auto; margin-top: 50px; margin-bottom: 300px; position: relative; z-index: 5000"}
  .clearfix
    %h2 Login to Participate
    =login_link do
      %img{:src=>"http://plancast.com/images/facebook/login-button.png"}