%ul#scrolly

%ul#scrollyHider{:style => "display:none"}
  - list_classes = ['notice','success','error','info']
  - 1.upto(10) do |i|
    %li{:class => list_classes[rand(4)]}
      .content
        %p== I yam thing #{i} and I yam        
        
:javascript
  $(function(){
    
    var height = 49;
    var width = 204;
    
    setInterval(
      function(){
        
        var start_left = Math.floor(Math.random()*800);
        var speed = 5000 + Math.floor(Math.random()*10000);
        
        $('#scrollyHider li:first-child').css('top','1400px').css('left',start_left).prependTo('#scrolly').animate({
          top: '+=-1500'
        }, speed, 'linear'
        , function() {
          $(this).appendTo('#scrollyHider');
        });
      }
      ,1000
    );
    
    setInterval(
      function(){
        $("li").each(function(){
          var my_top = $(this).position().top;
          var my_bottom = my_top + height;
          var my_left = $(this).position().left;
          var my_right = my_left + width;
          var $me = $(this);
          
          
          var my_index = $(this).index();
          $("li").each(function(){
            if($(this).index() !== my_index){
              
              var his_top = $(this).position().top;
              var his_bottom = his_top + height;
              var his_left = $(this).position().left;
              var his_right = my_left + width;
              
              // Check to see if there is a collision
              if( my_top < his_bottom && my_bottom > his_bottom && (my_left < his_left && my_right > his_left) || (my_right > his_right && my_left < his_right)){
                $(this).css("background-color", "red");
                $me.css("background-color", "red")
                console.log("COLLISION!");
              }
              
            }
          })
          
          //console.log(my_y);
        });
      }, 100)
    
    
  });
