.comments
  .facebook_comments
    .fb-discussion
      = comments_for(widget, :href => widget_url(widget), :width => 500)


  
  // var widget_id = #{widget.id};
  // var $widget = $(".widget[data_widget_id=" + widget_id + "]");
  
  // var $facebook_comments = $(".facebook_comments", $widget);
  
  // $facebook_comments.load("/discussions/widget/" + widget_id, { href: $facebook_comments.attr("data_comment_href"), width : 750 }, function(){
  //   
  //   var that = this;
  //   
  //   countComments($(this).attr("data_comment_href"), function(n){
  // 
  //     var text = "";
  //     if(n == 0){
  //       text = "Join the discussion";
  //     } else if(n == 1){
  //       text = "Show 1 comment.";
  //     } else {
  //       text = "Show " + n + " comments.";
  //     }
  //     $(that).siblings(".toggle_facebook_comments").text( text );
  //     
  //   });
  // });