:javascript
  // Common javascript request variables
  var request = {
    root_url : "#{root_url}",
    user_id : #{current_user ? current_user.id : 0},
    canvas_id : #{@canvas ? @canvas.id : 0},
    page_id : #{@page ? @page.id : 0}
  };